body {
  background: #555555;
  margin: 0;

  font-family: Montserrat, sans-serif;

  &.modal-open {
    overflow: hidden;
  }
}

*:focus {
  outline: lightgray dotted 1px;
}

button {
  cursor: pointer;
}
